/*Universal elements / base page */

@font-face {
  font-family: custom;
  src: url(/fonts/Martian_Mono/MartianMono-VariableFont_wdth\,wght.ttf);
}
:root{
  font-family: custom;
  --hover-color: rgb(8, 109, 224);
  --box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: .06rem;
  line-height: 1.5;
}

body,html {
  min-height: 100vh;
  display: flex;
}


/*---------------------------------------------------------*/

/*Right side page content stylings:*/

/*Right side base styling for alignment*/
#right-items {
  min-width: 60vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

#mid-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.158);
  background-color: white;
}

#top-container,
#mid-container,
#bottom-container{
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  padding-bottom: 40px;
  padding-top: 60px;
}

/*form input field stylings*/
.input-row{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input{
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

button{
  border: none;
  border-radius: 5px;
  transition: background-color 0.8s;
  padding: 8px 25px 8px 25px;
  font-size: .9rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
  cursor: pointer;
  width: fit-content;
  background-color: lightskyblue;
}

/*Any other style of right*/
.last-text{
  font-size: small;
}

/*---------------------------------------------------------*/


/*Left side page content styling:*/

/*Left side base styling for alignment*/
#left-items{
  min-width: 40vw; /*puts the image to the left side by 40*/
  height: 100%;
  background-image: url("/image/solaire-dark-souls.gif");
  background-size: cover;
  background-position: 70%  ;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 2px 2px black;
  justify-self: flex-end;
  margin-bottom: 3vh;
  color:white;
}

#logo {
  margin-top: 30vh;
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  color:white;
  font-family:'Times New Roman', Times, serif;
  font-size: 70px;
  font-weight: bolder;
}


/*Any other style of left*/
label{
  font-size: 14px;
}

/* unvisited link */
.footer a:link {
  color: whitesmoke;
}

/* visited link */
.footer a:visited {
  color: goldenrod;
}

/* mouse over link */
.footer a:hover {
  color: hotpink;
}

/* selected link */
.footer a:active {
  color: rebeccapurple;
}
/*---------------------------------------------------------*/


/*html tags styling for the whole page*/
h2,
em,
button {
    font-weight: bold;
}

h2 {
  margin-bottom: 20px;
}

p,
a {
    font-size: 0.9rem;
}

a {
  transition: color 0.5s;
  text-decoration: none;
  font-weight: bold;
}

/*---------------------------------------------------------*/


/*Effects styling*/

button:hover {
  background-color: var(--hover-color);
}


input:focus {
  border-color: rgb(78, 160, 255);
  box-shadow: var(--box-shadow);
}


/*---------------------------------------------------------*/




